:root {
  --text-color: #ddd;
  --text-color-info: #bbb;
  --text-color-focus: #fff;
  --background-color: #222;
  --green: #387438;
}

body {
  display: grid;
  grid-template-columns: 1fr min(100ch, 100%) 1fr;
  margin: 0;
  color: var(--text-color);
  font-family: "Zilla Slab", serif;
  background-color: var(--background-color);
}

header {
  margin-bottom: 60px;
}

#blog {
  grid-column: 2 / 3;
  padding: 20px;
}

#profile {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
}

#me-pixelated {
  display: inline;
  height: 5rem;
}

#blog-title {
  display: inline;
  margin: 0;
  font-size: 2.25rem;
  vertical-align: bottom;
  line-height: 1.05;
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 4px;
}

nav a:any-link {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--text-color);
}

nav a:not(:last-child) {
  margin-right: 25px;
}

nav a:is(:focus, :hover) {
  color: var(--text-color-focus);
}

main {
  font-size: 1rem;
}

main :is(h1, h2, h3, h4, h5, h6) {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 3px;
}

main a {
  color: var(--text-color);
}

main a:is(:focus, :hover) {
  color: var(--text-color-focus);
}

.article-preview {
  max-height: 20rem;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  margin-bottom: 60px;
}

.article-info {
  color: var(--text-color-info);
}

.article-info p {
  margin: 0;
}

.article-title-link {
  text-decoration: underline;
  text-decoration-color: var(--green);
  text-decoration-thickness: 3px;
}

.article-title-link:is(:focus, :hover) {
  text-decoration-color: var(--text-color-focus);
}

@media(max-width: 50em) {
}
