name: "build static site"

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: "checkout repo"
        uses: actions/checkout@v3

      - name: "set up go"
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.x'

      - name: "build generator"
        run: |
          cd generator
          go build -o ../sitegen

      - name: "generate site"
        run: CONTENT_PATH="./content" TARGET_PATH="./docs" TEMPLATE_PATH="template.html" ./sitegen    

      - name: "upload pages"
        uses: actions/upload-pages-artifact@v2
        with:
          path: ./docs

  deploy:
    needs: build
    
    permissions:
      pages: write
      id-token: write
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/deploy-pages@v2
